<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error { border-color: red; background-color: #fee ; }
    </style>
</head>

<body class="m-1 p-1">
<div class="bg-info p-2"><h4>@ViewBag.Title</h4></div>
@if (TempData["message"] != null) {
    <div class="alert alert-success">@TempData["message"]</div>
}
    @RenderBody()
</body>

</html>
